<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VSB</title>
    <link rel="icon" href="/uploads/logo.png" />
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="../css/css.css" rel="stylesheet" />
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <style>
        .form-inline {
            display: inline-block;
            width: 50%;
            vertical-align: middle;
        }

        a.myAnim:hover {
            animation: myAnim 1s ease 0s 1 normal forwards;
            box-shadow: 0 0 15px gray;
        }


        @keyframes myAnim {
            0% {
                transform: scale(1);
            }

            50% {
                transform: scale(1.1);
            }

            100% {
                transform: scale(1);
            }
        }

    </style>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light" id="backgroud_nav">
        <div class="container-fluid">

            <a class="navbar-brand" href="#index">
                <img src="/uploads/logo.png" alt="" width="60" height="60" />
            </a>

            <div class="d-flex">
                <a class="navbar-brand" href="#">
                    <i class="bi bi-book fs-4"></i>
                    My Course
                </a>
                <a class="navbar-brand" href="#">
                    <i class="bi bi-cart4 fs-4"></i>
                    My Cart
                </a>
                <li class="nav dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/uploads/profile.png" alt="" width="32" height="32"
                            class="d-inline-block align-text-top" />
                        Jerry
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>
</header>

<body>
    <div class="container" id="app">

        <div class="row mt-4">
            <div class="col-md-6 col-sm-12">
                <img src="./uploads/search.png" alt="Girl in a jacket" width="50px" height="50px">
                <input type="text" class="form-control form-inline bg_course" placeholder="Search" >
            </div>

            <div class="col-md-6 col-sm-12 text-md-end mt-sm-3 mt-md-0">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span><i class="bi bi-funnel"></i></span>
                    Filters
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

        </div>

        <div class="row mt-4">
            <h5>Recommended</h5>
        </div>
        <div class="row px-4">
            <div class="col-sm-12 col-md-6 col-xl-4 my-3">
                <a href="/course/4" class="card myAnim bg-light"
                    style="width: 20rem; text-decoration: none; color:black;">
                    <img src="uploads/ielts.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>IELTS Full Course</b></h5>
                        <p class="card-text text-center"> IELTS Full Course in 10 hours - 2022', 'Concepts are explained in a simple, digestable and...</p>
                        <div class="row">
                            <div class="col-6 ">
                                Courses price
                            </div>
                            <div class="col">

                            </div>
                            <div class="col text-danger">
                                3999฿
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-4 my-3">
                <a href="/course/15" class="card myAnim bg-light"
                    style="width: 20rem; text-decoration: none; color:black;">
                    <img src="uploads/cyber-secure.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Cyber Security learning</b></h5>
                        <p class="card-text text-center"> Cyber Security Full Course  will help you understand and learn the fundamentals of Cyber Security. </p>
                        <div class="row">
                            <div class="col-6 ">
                                Courses price
                            </div>
                            <div class="col">

                            </div>
                            <div class="col text-danger">
                                2250฿
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6 col-xl-4 my-3">
                <a href="/course/14" class="card myAnim bg-light"
                    style="width: 20rem; text-decoration: none; color:black;">
                    <img src="uploads/design-thinking.png"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b>Design thinking</b></h5>
                        <p class="card-text text-center">In this design thinking tutorial, we will be looking at what is design thinking, why design </p>
                        <div class="row">
                            <div class="col-6 ">
                                Courses price
                            </div>
                            <div class="col">

                            </div>
                            <div class="col text-danger">
                                2300฿
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row mt-5">
            <h5>All Course</h5>
        </div>
        <div class="row px-4">
            <div class="col-sm-12 col-md-6 col-xl-4 my-3" v-for="course in computedCourses">
                <a :href="'/course/' + course.course_id" class="card myAnim bg-light"
                    style="width: 20rem; text-decoration: none; color:black;">
                    <img :src=course.image
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b> {{ course.course_name }} </b></h5>
                        <p class="card-text text-center"> {{ course.course_info }} </p>
                        <div class="row">
                            <div class="col-6 ">
                                Courses price
                            </div>
                            <div class="col">

                            </div>
                            <div class="col text-danger">
                                {{ course.course_price }}฿
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>



    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                courses: JSON.parse(`<%- courses %>`),
            },
            computed:{
        computedCourses (){
          let results = this.courses
          return results.map((b) => { 
            if(b.course_info.length > 90){
              b.course_info = b.course_info.substring(0, 90) + '...'
            }
            return b
          })
        }
      },
        })
    </script>

</body>
<footer class="footer py-3 mt-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5>Browse popular topics</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">ABC</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Math</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Eng</a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <h5>Popular courses and articles</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">ABC</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Math</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Eng</a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <h5>VSB</h5>
                <ul class="list-unstyled text-small">
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">About</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Catalog</a>
                    </li>
                    <li>
                        <a class="link-secondary text-decoration-none" href="#">Team</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 border-top my-4"></div>
            <div class="col-9 mt-2">
                <small class="text-muted">© 2022 VSB. All rights reserved</small>
            </div>
            <div class="col-3 iconfooter">
                <i class="bi bi-facebook text-primary mx-2"></i>
                <i class="bi bi-twitter text-info mx-2"></i>
                <i class="bi bi-github mx-2"></i>
                <i class="bi bi-linkedin text-primary mx-2"></i>
                <i class="bi bi-youtube text-danger mx-2"></i>
            </div>
        </div>
    </div>
</footer>

</html>