<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>VSB</title>
        <link rel="icon" href="/uploads/logo.png" />
        <link href="/css/bootstrap.css" rel="stylesheet" />
        <link href="/css/css.css" rel="stylesheet" />
        <script src="/js/bootstrap.bundle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    </head>
    <body>
        <div class="" id="app">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light"
                    id="backgroud_nav">
                    
                    <div class="container-fluid" v-for="user in users">
                        
                            <a class="navbar-brand" :href="'/allcourse/' +
                                user.user_id">
                                <img src="/uploads/logo.png" alt="" width="60"
                                    height="60" />
                            </a>

                            <div class="d-flex">
                                <a class="navbar-brand
                                    text-decoration-underline" href="">
                                    <i class="bi bi-book fs-4"></i>
                                    My Course
                                </a>

                                <li class="nav dropdown">
                                    <a class="nav-link dropdown-toggle
                                        text-dark" href="#"
                                        id="navbarScrollingDropdown"
                                        role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <img :src="'/' + user.image"  alt=""
                                            width="32" height="32"
                                            class="d-inline-block
                                            align-text-top" />
                                        {{user.user_fname}}
                                    </a>
                                    <ul class="dropdown-menu"
                                        aria-labelledby="navbarScrollingDropdown">
                                        <li><a class="dropdown-item"
                                                :href="'/profile/' +
                                                user.user_id + '/'">Profile</a></li>
                                        <li><a class="dropdown-item"
                                                :href="'/allcourse/not-sign-in/'
                                                + user.user_id">Logout</a></li>
                                    </ul>
                                </li>
                            </div>
                        
                    </div>
                </nav>
            </header>
            <div class="container">



                <div class="row mt-5">
                    <h5>My Course</h5>
                </div>
                <div class="row px-4" v-for="user in users">
                    <div class="col-sm-12 col-md-6 col-xl-4 my-3" v-for="course in computedCourses">
                        <a :href="'/course/' + course.course_id + '/' +
                            user.user_id" class="card myAnim bg-light"
                            style="width: 20rem; text-decoration: none; color:
                            black">
                            <img :src="'/' + course.image" class="card-img-top"
                                alt="..." />
                            <div class="card-body">
                                <h5 class="card-title text-center text-dark">
                                    <b> {{ course.course_name }} </b>
                                </h5>
                                <p class="card-text text-center text-dark">{{
                                    course.course_info }}</p>
                                <div class="row">
                                    <div class="col-6">Courses price</div>
                                    <div class="col"></div>
                                    <div class="col text-danger">{{
                                        course.course_price }}฿</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <script>
      var app = new Vue({
        el: "#app",
        data: {
          courses: JSON.parse(`<%- courses %>`),
          users: JSON.parse(`<%- users %>`),
          sorted: "",
          idCounter: 16,
        },
        // created() {
        //     this.idCounter = this.courses.length
        //     console.log(this.courses.length)
        // this.filteredTasks = this.tasks
        // this.courses = this.courses
        // `this` points to the vm instance
        // console.log('a is: ' + this.a)
        //   },
        computed: {
          computedCourses() {
            let results = this.courses
            return results.map((b) => {
              if (b.course_info.length > 90) {
                b.course_info = b.course_info.substring(0, 90) + "..."
              }
              return b
            })
          },
          filteredTasks() {
            // get: function compareAlpha(a, b) {
            //     return this.$store.state.sorted.filteredTasks
            //     }
            function compareAlpha(a, b) {
              if (a.course_name < b.course_name) {
                return -1
              } else if (a.course_name > b.course_name) {
                return 1
              } else {
                return 0
              }
            }
            function compareID(a, b) {
              if (a.course_id < b.course_id) {
                return -1
              } else if (a.course_id > b.course_id) {
                return 1
              } else {
                return 0
              }
            }
            function comparePrice(a, b) {
              if (a.course_price < b.course_price) {
                return -1
              } else if (a.course_price > b.course_price) {
                return 1
              } else {
                return 0
              }
            }
            if (this.sorted == "alpha") {
              return this.courses.sort(compareAlpha)
            } else if (this.sorted == "sortID") {
              return this.courses.sort(compareID)
            } else if (this.sorted == "price") {
              return this.courses.sort(comparePrice)
            }
          },
        },
      })
    </script>
        <footer class="footer py-3 bg-light"id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h5>Browse popular topics</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">ABC</a>
                            </li>
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">Math</a>
                            </li>
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">Eng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h5>Popular courses and articles</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">ABC</a>
                            </li>
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">Math</a>
                            </li>
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">Eng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h5>VSB</h5>
                        <ul class="list-unstyled text-small">
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">About</a>
                            </li>
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">Catalog</a>
                            </li>
                            <li>
                                <a class="link-secondary text-decoration-none"
                                    href="#">Team</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 border-top my-4"></div>
                    <div class="col-9 mt-2">
                        <small class="text-muted">© 2022 VSB. All rights
                            reserved</small>
                    </div>
                    <div class="col-3 iconfooter">
                        <i class="bi bi-facebook text-primary mx-2"></i>
                        <i class="bi bi-twitter text-info mx-2"></i>
                        <i class="bi bi-github mx-2"></i>
                        <i class="bi bi-linkedin text-primary mx-2"></i>
                        <i class="bi bi-youtube text-danger mx-2"></i>
                    </div>
                </div>
            </div>
        </footer>
    </body>

</html>
