/* icon  */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* font */
@import url("https://fonts.googleapis.com/css2?family=Itim&family=Mali&display=swap&family=Prompt&display=swap");
body {
  font-family: "Prompt";
}

/* color */
#backgroud_nav {
  background-color: #9addf2;
}

/* color ปุ่มGet start */
.button_start {
  background-color: #9ADDF2;
  border: none;
  border-radius:25px;
  box-shadow: 3px 3px #888888;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
}

.icon{
    font-size: 1.5rem;
}

.button{
    border-radius: 10px;
}
/* input bg หน้าall course */
.bg_course{
  background-color:#D6F0F9;
}

/* ทำให้รูปในcard ขอบมน */
.card-round{
  border-radius:10px;
}